@import './_def.scss';
@import './_colors.scss';
@import './_fonts.scss';



$maxWidth: 1920;
$minWidth:450px;

$mainRed:#E74C3C;
$mainGrey:#979191;
$j:#9f4b4b;


@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + 'px'} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

::-webkit-scrollbar {
    width: 3px;
	position: absolute;
}

::-webkit-scrollbar-track {
    background-color: rgba(247, 247, 247, 0.438);
	position: absolute;
	
}

::-webkit-scrollbar-thumb {
    background: rgba(131, 0, 0, 0.507);
	border-radius: 20px;
	position: absolute;
}


.font_banner{
    @include adaptiv-font(40,17);
	font-weight: 700;
	align-items: stretch
}

.font_min{
    @include adaptiv-font(15,11);
	font-weight: 200;
}
.font_min-decstop{
    @include adaptiv-font(12,9);
	font-weight: 200;
}
.font_h1{
    @include adaptiv-font(27,15);
}
.font_h2{
    @include adaptiv-font(22,13);
}
.font_h3{
    @include adaptiv-font(19,12);
}
.font_large{
    @include adaptiv-font(32,12);
}
.font_btn{
    @include adaptiv-font(15,13);
	font-weight: 600;
}


.radius{
	border-radius: 10px;
}
.background--red{
	background: #E74C3C;
}
.background--grey{
	background: #979191;
}
.background--grey_light{
	background: #97919121;
}
.color--red{
	color: #E74C3C;
}
.color--grey{
	color:#979191;
}
.padding--10{
	padding: 10px;
}
.padding--20{
	padding: 20px;
}
.padding--10--20{
	padding: 10px 20px;
}





#app{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

body, html{
	width: 100%;
	height: 100%;
	
}

a{
	color: black;
	text-decoration: none;
	&:hover{
		color: $mainRed;
	}
}
.app_wrapper{
	// width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	&_block{
		width: 100%;
		// background: rgb(173, 173, 173);
		// padding: 10px;
	}
	&_content{
		width: 100%;
		flex-grow: 1;
		overflow-y: auto;
		overflow-x: hidden;
		&-admin{
			width: 70%;
			flex-grow: 1;
			overflow-y: auto;
			overflow-x: hidden;
		}
	}

}

.wrapper{
	max-width:$maxWidth + px;
	// min-width:$minWidth;
	width: 90%;
	margin: 0 auto;
	@media (max-width:$minWidth) {
		width: 100%;
		// padding: 5px;
	}
}

.btn_admin{
	cursor: pointer;
	user-select: none;
	color: black;
	box-shadow: 0 0 10px rgba(49, 49, 49, 0.284);
	border-radius: 5px;
	transition: all 0.3s ease-in-out 0s;
	border: 1px solid rgba(255, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	svg{
		color: rgba(0, 0, 0, 0.522);
		transition: all 0.3s ease-in-out 0s;
	}
	&:active{
		border: 1px solid red;
	}
	&:hover{
		transition: all 0.3s ease-in-out 0s;
		box-shadow: 0 0 2px red;
		color: red;
		& svg{
			transition: all 0.3s ease-in-out 0s;
			color: red;
		}
	}
}

.btn-def{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	user-select: none;
	color: rgb(52, 162, 52);
	border:1px solid rgb(34, 118, 34);
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 0.21s ease-in-out 0s;
	text-align: center;
	// text-transform: uppercase;
	font-weight: 600;
	background: transparent;
	&:hover{
		background: rgb(52, 162, 52);
		color: white;
	}
	&:active{
		background: rgb(20, 61, 20);
		transition: all 0.2s ease-in-out 0s;
		box-shadow: 1px 1px 2px rgb(161, 161, 161);
	}
}
.btn{
	cursor: pointer;
	text-decoration: none;
	user-select: none;
	color: $mainRed;
	border:1px solid $mainRed;
	padding: 10px;
	border-radius: 5px;
	transition: all 0.21s ease-in-out 0s;
	text-align: center;
	// text-transform: uppercase;
	font-weight: 600;
	background: transparent;
	&:hover{
		background: #E74C3C;
		color: white;
	}
	&:active{
		background: #7e0d00;
		transition: all 0.2s ease-in-out 0s;
		box-shadow: 1px 1px 2px rgb(161, 161, 161);
	}
}
.stick{
	width: 100%;
	border-bottom: 1px solid rgb(226, 226, 226);
	margin: 5px 0;
	@media (max-width:450px) {
		margin: 2px 0;
	}
}
.desctop{
	@media (max-width:450px) {
		display: none;
	}
}
.stick_admin{
    margin-top: 50px;
    width: 100%;
    padding: 60px;
    background: rgba(0, 0, 0, 0);
}


