@import './reset.scss';
@import './fonts.scss';
*{
    font-family: Montserrat;
}
$main_color:#E74C3C;
.wrapper{
    padding: 10px;
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
}
.app_wrapper{
    height: 100%;
}
.disp-mobile-none{
    @media (max-width:500px) {
        display: none;
    }
}
.btn{
    user-select: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        color: white;
        transition: color 0.3s ease 0s;
    }
    &-root{
    border: 1px solid $main_color ;
    color: $main_color;
    font-family: Montserrat;
    font-weight: 600;
    transition: background 0.4s ease-in-out 0s;
    &:hover{
        background: $main_color;
        transition: background 0.4s ease 0s;
    }


    }

}
#app{
    height: 100%;
    width: 100;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}